

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.frameholder {
    height: 91.5%;
    width: 100%;
    position: relative;
}

.chris {
    height: 100%;
    width: 100%;
}


.info_card {
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    height: 100%;
}

.info_card2 {
    position: absolute;
    color: black;
    right: 0;
    top: 0;
    height: 100%; 
}

.centerbar {
}

