.display-1 {
    float: left;
    color: blue;
    font-size: 100pt;
}

#test {
    color: white;
    font-size: 110pt;
    float: left;
}

.test {
    color: white;
    font-size: 100pt;
    float: left;
}